<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TopMusicVideos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E8436311C7A712C001F6337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E8436451C7A712D001F6337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E8436501C7A712D001F6337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
